<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TB Xray Report Systems</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6WegxhDDdjZlpIN/jRw9p9kFXmkN4xj"
          crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <!-- Popper.js -->
    <script src="@Html.Raw("https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")" integrity="sha384-bqTv8QEG9zRV/xnecUpL9B2I6zUcFaDUbeR3STw2kdL63DrHq7o49L/xMZFQQDZw"
            crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6WegxhDDdjZlpIN/jRw9p9kFXmkN4xj"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("TB Xray Report Systems", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    <!-- Home -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="reportsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Home
                        </a>
                        <div class="dropdown-menu" aria-labelledby="reportsDropdown">
                            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    @if ((string)Session["UserRole"] == "Administrator")
                    {
                        <!-- Reports Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="reportsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Reports
                            </a>
                            <div class="dropdown-menu" aria-labelledby="reportsDropdown">
                                @Html.ActionLink("View Rp", "Index", "Reports", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("New Rp", "Create", "Reports", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>

                        <!-- Screening History Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="reportsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ScreeningHistories
                            </a>
                            <div class="dropdown-menu" aria-labelledby="reportsDropdown">
                                @Html.ActionLink("View...", "Index", "ScreeningHistories", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("New", "Create", "ScreeningHistories", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }

                    @if ((string)Session["UserRole"] == "Administrator")
                    {
                        <!-- Users Dropdown (Account control for Admins) -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="reportsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="reportsDropdown">
                                @Html.ActionLink("Create", "Create", "User", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Index", "Create", "User", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }

                    @if (Session["UserRole"] == null)
                    {
                        <!-- Users Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="reportsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="reportsDropdown">
                                @Html.ActionLink("Login", "Login", "User", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Register", "Create", "User", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                    else
                    {
                        <!-- Users Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="reportsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Session["UserRole"] @Session["Username"]
                            </a>
                            <div class="dropdown-menu" aria-labelledby="reportsDropdown">
                                @Html.ActionLink("Logout", "LogoutSuccess", "User", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Bootstrap JavaScript (placed at the end of the body) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
