@model FIT5032_TB_xray_report_system_v2.Models.User

@{
    ViewBag.Title = "UpdateDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UpdateDetails</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>User</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.user_id)

    <div class="form-group">
        @Html.LabelFor(model => model.user_username, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.user_username, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.user_username, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.user_password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.user_password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.user_password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.user_email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.user_email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.user_email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.user_fullname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.user_fullname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.user_fullname, "", new { @class = "text-danger" })
        </div>
    </div>

    @if ((string)Session["UserRole"] == "Administrator")
    {
        <div class="form-group">
            @Html.LabelFor(model => model.user_status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="user_status" name="user_status" class="form-control">
                    <option value="active">Active</option>
                    <option value="disabled">Disabled</option>
                </select>
                @Html.ValidationMessageFor(model => model.user_status, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(model => model.user_status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <label class="form-control"> @ViewBag.UserStatus </label>
            </div>
        </div>
    }

    @if ((string)Session["UserRole"] == "Patient")
    {
        // Patient Specific Details
        // Address
        <div class="form-group">
            <label class="control-label col-md-2">Address:</label>
            <div class="col-md-5">
                <input type="text" name="patient_address" class="form-control" placeholder="3 This Street, Liquid Grove, SOLID 1367" />
            </div>
        </div>
        // Phone
        <div class="form-group">
            <label class="control-label col-md-2">Mobile Number:</label>
            <div class="col-md-5">
                <input type="text" name="patient_phone" class="form-control" placeholder="04XX XXX XXX" />
            </div>
        </div>
        // Medical History
        <div class="form-group">
            <label class="control-label col-md-2">Medical History:</label>
            <div class="col-md-8">
                <input type="text" name="patient_medicalhistory" class="form-control" placeholder="Any health conditions that might affect the respitory system..." />
            </div>
        </div>
    }


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
