@model FIT5032_TB_xray_report_system_v2.Models.DeletionRequest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DeletionRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient_patient_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_patient_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dr_reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dr_reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dr_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dr_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dr_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
