@model IEnumerable<FIT5032_TB_xray_report_system_v2.Models.DeletionRequest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient_patient_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dr_reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dr_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient_patient_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dr_reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dr_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.dr_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.dr_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.dr_id })
        </td>
    </tr>
}

</table>
